<div class="header__banner">
  <div class="header__banner--content">
      <a href="index.html" class="logo">NETTRUYEN</a>
      <div class="search-box">
          <input type="text" placeholder="Tìm truyện">
          <i class="fas fa-search"></i>
      </div>
      <div class="notice">
          <button>
              <i class="fas fa-comment"></i>
          </button>

      </div>
      <div class="login">
          <a href="">Đăng nhập</a>
          <a href="">/Đăng ký</a>
      </div>
  </div>
</div>
