.container{
  .header{

  }
  .main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.1);
      .content{
        width: 1031px;
        overflow: hidden;
        padding: 0 12px;
        background-color: #fff;
      }
  }
}
