<div class="header__taskbar">
  <ul>
      <li class="check"><a routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i></a></li>
      <li> <a routerLink="/hot" routerLinkActive="active">HOT</a></li>
      <li> <a routerLink="/follow" routerLinkActive="active">THEO DÕI</a></li>
      <li> <a routerLink="/history" routerLinkActive="active">LỊCH SỬ</a></li>
      <li> <a routerLink="/search" routerLinkActive="active">TÌM TRUYỆN</a></li>
      <li> <a routerLink="/girls" routerLinkActive="active">CON GÁI</a></li>
      <li> <a routerLink="/boys" routerLinkActive="active">CON TRAI</a></li>
      <li> <a href="">GROUP</a></li>
  </ul>
</div>
